# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
/Sources/
ProjectSettings/ProjectVersion.txt

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.vs/
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/WebPlayer/
/Game_Data/
/*.apk
/XCodeProject/
Colorful FX
/Builds
sh.exe.stackdump
